<!DOCTYPE html>
<html>
<head>
    <title>Phone Book</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Phone Book</h1>
<div>
    {{{body}}}
</div>
</body>
</html>